{% extends "layout.html" %}

{% block content %}

<h2>{{title}}</h2>

<div class="row">
    <div class="col-md-6">
        in this page you need to choose a year, countries and measures. 
    </div>
</div>

<br />

<form method=post>
    {{ form.csrf }}
    <table>
        <tr>
            <td class="input text"> {{ form.year.label }} </td>
            <td>                    {{ form.year }}       </td>
        </tr>
        <tr>
            <td class="input text"> {{ form.country_mselect.label }} </td>
            <td>                    {{ form.country_mselect }}       </td>
        </tr>
        <tr>
            <td class="input text"> {{ form.measures_mselect.label }} </td>
            <td>                    {{ form.measures_mselect }}       </td>
        </tr>
        <tr>
            <td class="input submit"> <input type="submit" value="Search"> </td>
        </tr>
    </table>
</form>


<div class="row">
    <div class="col-md-8">
        <img src={{ chart }} class="img-thumbnail" alt="not found" height={{height}} width={{ width }}>
    </div>
</div>




    {% endblock %}


