{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>{{title}}</h2>

<h3>In this page you need to choose a year, countries and measures.</h3>

<div class="row">
    <div class="col-md-12">
        The happiness in my project is measured by 4 measures. <br />
        The first measure is GDP per capita. GDP per capita is a measure of a country's economic output that accounts for its number of people. <br />
        The second measure is Healthy life expectancy. Healthy life expectancy is a form of health expectancy that applies disability weights to health states to compute the equivalent number of years of good health that a newborn can expect. <br />
        The third measure is Freedom to make life choices. Freedom to make life choices describes an individual's opportunity and autonomy to perform an action selected from at least two available options, unconstrained by external parties. <br />
        The fourth measure is Generosity. Generosity is the virtue of the country with being liberal in giving, kind, not selfish for her people.
    </div>
</div>

<br />

<div class="col-md-2">
    <form method="post">
        {{ form.csrf_token }}
        {{ wtf.form_field(form.year)}}
        {{ wtf.form_field(form.country_mselect)}}
        {{ wtf.form_field(form.measures_mselect)}}
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
</div>

<br />

<div class="row">
    <div class="col-md-8">
        <img src={{ chart }} class="img-thumbnail" alt="not found" height={{height}} width={{ width }}>
    </div>
</div>




    {% endblock %}


