{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>{{ title }}</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for message in messages %}
<h3>{{ message[1] }}</h3>
<br />
    {% endfor %}
{% endif %}
{% endwith %}

<br />

<div class="col-md-4">
    <form method="post">
        {{ form.csrf }}
        {{ form.csrf_token }}

        {{ wtf.form_field(form.FirstName)}}
        {% if form.FirstName.errors %}
        <ul class="text-danger">{% for error in form.FirstName.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        {{ wtf.form_field(form.LastName)}}
        {% if form.LastName.errors %}
        <ul class="text-danger">{% for error in form.LastName.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        {{ wtf.form_field(form.PhoneNum)}}
        {% if form.PhoneNum.errors %}
        <ul class="text-danger">{% for error in form.PhoneNum.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        {{ wtf.form_field(form.EmailAddr)}}
        {% if form.LastName.errors %}
        <ul class="text-danger">{% for error in form.EmailAddr.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        {{ wtf.form_field(form.username)}}
        {% if form.LastName.errors %}
        <ul class="text-danger">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        {{ wtf.form_field(form.password)}}
        {% if form.LastName.errors %}
        <ul class="text-danger">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <input class="btn btn-primary" type="submit" value="Register">
    </form>
</div>


<div class="row">
    <div class="col-md-6">
        <img src="https://ite-prod-cdn-end.azureedge.net/sharedmedia/bettshowasia/media/assets/asce10987-bett-icons_identity_blue.png">
    </div>
</div>


    {% endblock %}
